<header class="{{block}}">
  <div class="{{block}}__container">
    <a href="#" class="{{block}}__logo">
      <object type="image/svg+xml" data="/icons/logo-kedi.svg"></object>
    </a>
    <nav class="{{block}}__primary-nav">
      <ul class="{{block}}__list">
        <li class="{{block}}__list-item">
          <a href="#" class="{{block}}__link">Products</a>
        </li>
        <li class="{{block}}__list-item">
          <a href="#" class="{{block}}__link">Services</a>
        </li>
        <li class="{{block}}__list-item">
          <a href="#" class="{{block}}__link">FAQ</a>
        </li>
        <li class="{{block}}__list-item">
          <a href="#" class="{{block}}__link">About</a>
        </li>
      </ul>
    </nav>
    <nav class="{{block}}__secondary-nav">
      <ul class="{{block}}__list">
        <li class="{{block}}__list-item">
          <a href="#" class="{{block}}__search">
            <object type="image/svg+xml" data="/icons/icon-search.svg"></object>
          </a>
        </li>
        <li class="{{block}}__list-item">
          <a href="#" class="{{block}}__link">Sign In</a>
        </li>
        <li class="{{block}}__list-item">
          <a href="#" class="{{block}}__btn">Get Started</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
