<div class="{{block}}" style="background-image: url('/images/hero-photo.jpg')">
  <div class="{{block}}__container">
    <h1 class="{{block}}__title">Lorem Ipsum <br> Dolor Sit Amet</h1>
    <p class="{{block}}__description">Lorem ipsum</p>
    <a href="#" class="{{block}}__btn">Meow Meow</a>
  </div>
</div>
